<header>
    <p><h2>Prepare a Cameroonian Favorite Meal</h2></p>
</header>
<p>Ndole ( Spinach/ Bitterleaves and Peanut Soup).
<br/>
Course Main;
Cuisine African.
<br/>
Prep Time 20 mins;
Cook Time 50 mins;
Total Time 1 hour 10 mins
<br/>
Servings 5;
Calories 668 kcal;
<br/>
<br/>
Author(s): AfricanBites.
<br/>
<br/>
Ingredients:
<br/>
<br/>
<ul>
<li>2 Tablespoons Maggi ( Bouillon)</li>
<li>1 large Onion ( sliced)</li>
<li>1 pound (about 2 cups )Groundnuts/Peanuts(Skinless)</li>
<li>1/2 pound shrimp</li>
<li>1/2 pound stockfish</li>
<li>1/2- 1 pound Stew beef (cut in chunks)</li>
<li>4-5 garlic cloves</li>
<li>3/4 cup Crayfish (ground)</li>
<li>3/4 -1 pound Washed bitterleaves (sub frozen spinach)</li>
<li>2-3 cups oil</li>
</ul>
<br/>
<br/>
Instructions:
<br/>
<br/>
<ol>
<li>In a large pan season meat with salt, maggi and onions and boil until tender depending on the choice of meat. Meanwhile, boil stock fish with salt and water; add it to the boiled meat. You should have about 3 cups of stock from the meat and stock fish. Reserve the rest or freeze it.</li>
<li>Boil peanuts for about 10 minutes in a sauce pan. Let it cool and blend/pulse in a food processor or blender into a fine consistency use water to facilitate the blending .Add to the mixture of beef and stockfish.</li>
<li>Blend one onion and garlic into a fine paste and add to the mixture of peanuts and meat.</li>
<li>Pour in the crayfish and let it simmer for 10 minutes stirring frequently to prevent burns. Season with salt and Maggi. You might have to add more later</li>
<li>Add the bitter leaves or spinach to the pot. Stir and simmer for several minutes more</li>
<li>While the pot of ndole is simmering, heat oil in a fry pan or, preferably a cast iron. Add the shrimp, stirring constantly until they just turn pink. Slice and add the remaining onions stir for a few more minutes.</li>
<li>Finally incorporate the mixture of shrimp, onions and oil into the pot of Ndole. Stir for a few minutes and serve hot with any of the sides mentioned above.</li>
</ol>
</P>
<br/>
<br/>
<footer>
    <p> Current time and date:
    <%= Time.current %>
    </p>
</footer>